body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
}

#tamagochi{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid gray;
}

#health{
    height: 20px;
    background-color: red;
}
